# executing the command:
# bazel build lib:CommunicationModule --config=atmega328p
# would lead to appending all of the options below on command line

build:motherboard --crosstool_top=@AvrToolchain//:avr-gcc
build:motherboard --host_crosstool_top=@bazel_tools//tools/cpp:toolchain
build:elastic3 --crosstool_top=@AvrToolchain//:avr-gcc
build:elastic3 --host_crosstool_top=@bazel_tools//tools/cpp:toolchain
build:elastic4 --crosstool_top=@AvrToolchain//:avr-gcc
build:elastic4 --host_crosstool_top=@bazel_tools//tools/cpp:toolchain
build:motherboard --cpu=avr
build:elastic3 --cpu=avr
build:elastic4 --cpu=avr

build:motherboard --platforms @AvrToolchain//platforms:Motherboard
build:elastic3 --platforms @AvrToolchain//platforms:ElasticNode3
build:elastic4 --platforms @AvrToolchain//platforms:ElasticNode4
build:avr --platforms=@AvrToolchain//platforms:AVR

build:elastic3 --copt=-Dv3board
build:elastic4 --copt=-Dv4board
build:elastic3 --copt=-DBAUD=115200
build:elastic4 --copt=-DBAUD=115200

build:native --cpu=k8
build:native --crosstool_top=@bazel_tools//tools/cpp:toolchain
build:native --platforms @bazel_tools//platforms:host_platform

build:elastic --define PROGPORT=/dev/ttyS5
build:elastic --define ENPORT=/dev/ttyS8
build:elastic --define BAUD=115200

build -c opt